---
import Weeks from "~/components/Weeks.astro";
import Layout from "~/layouts/Layout.astro";
import Legend from "~/components/Legend.astro";
import weekData from "~/data/weeks.json";
import sections from "~/data/sections.json";
import legends from "~/data/legends.json";
import Theme from "~/components/Theme.astro";
import "~/styles/weeks.css";

// Write here the title of the page
const pageTitle = "Life in Weeks";

// Write here your date of birth
const birthDate = "1993-11-27";

// Write here how many years you want to be generated (only when you are not using sections)
const totalYears = 35;

// Change the theme to the one you want to use: dark, light, dracula, atom-dark, gruvbox-dark, gruvbox-light, tokyo-night. You can create your own in variables.css -->
const defaultTheme = "dark";
---

<!-- Delete this component if you want a fixed style. If you are going to create a new style, you must also add it in /components/Theme.astro -->
<Theme theme={defaultTheme} />

<Layout pageTitle={pageTitle} theme={defaultTheme}>
    <section id="about" class="center introduction">
        <p>
            This is a visual representation of the weeks in a 35-year life span.
            Each rectangle represents one week.
        </p>
    </section>

    <section id="legend" class="center">
        <Legend legends={legends} />
    </section>

    <section id="weeks" class="center-x">
        <!-- If you do not want sections, delete "sections={sections}" -->
        <!-- If you do not want your birthday to appear, replace the "true" with a "false" in showBirthdays-->
        <!-- If you do not want the tooltip to appear when hovering over the weeks, replace the "true" with a "false" in showTooltips -->
        <Weeks
            weekData={weekData}
            birthDate={birthDate}
            totalYears={totalYears}
            sections={sections}
            showBirthdays={true}
            showTooltips={true}
        />
    </section>
</Layout>
