---
const {
    birthDate,
    totalYears,
    weekData,
    sections,
    showBirthdays = true,
    showTooltips = false,
} = Astro.props as {
    birthDate: string;
    totalYears: number;
    weekData: {
        week: number;
        text: string;
        style: string;
        tooltip?: string;
        image?: string;
    }[];
    sections?: { title: string; startDate: string; endDate: string }[];
    showBirthdays?: boolean;
    showTooltips?: boolean;
};

const MSPerWeek = 7 * 24 * 60 * 60 * 1000;
const WeeksPerYear = 52.1775;

function getStartDate(dateStr: string) {
    const d = new Date(dateStr);
    d.setHours(0, 0, 0, 0);
    return d;
}

const startDate = getStartDate(birthDate);

function weekNumber(date: string) {
    return (
        Math.floor(
            (new Date(date).getTime() - startDate.getTime()) / MSPerWeek
        ) + 1
    );
}

const totalWeeks = sections
    ? Math.max(...sections.map((section) => weekNumber(section.endDate)))
    : Math.ceil(WeeksPerYear * totalYears);

function getBirthdayWeeks() {
    if (!showBirthdays) return [];
    const years = Math.ceil(totalWeeks / WeeksPerYear);
    return Array.from({ length: years }, (_, year) => {
        const birthday = new Date(startDate);
        birthday.setFullYear(startDate.getFullYear() + year);
        return (
            Math.floor((birthday.getTime() - startDate.getTime()) / MSPerWeek) +
            1
        );
    });
}

function ImagePath(image?: string) {
    if (!image) return undefined;
    const fileName = image.substring(image.lastIndexOf("/") + 1);
    return `/src/data/images/${fileName}`;
}

const weekTextMap = new Map(
    weekData.map((week) => [
        week.week,
        {
            text: week.text,
            style: week.style,
            tooltip: week.tooltip,
            image: ImagePath(week.image),
        },
    ])
);

const birthdayWeeks = getBirthdayWeeks();
if (showBirthdays) {
    birthdayWeeks.forEach((week, index) => {
        weekTextMap.set(week, {
            text: `🎉 ${index}`,
            style: "birthday",
            tooltip: "",
            image: undefined,
        });
    });
}
---

<div class="weeks-container">
    {
        sections ? (
            sections.map((section) => {
                const startWeek = weekNumber(section.startDate);
                const endWeek = weekNumber(section.endDate);
                return (
                    <div class="section">
                        <h3>{section.title}</h3>
                        <div class="weeks">
                            {Array.from(
                                { length: endWeek - startWeek + 1 },
                                (_, i) => {
                                    const weekNum = startWeek + i;
                                    const weekData = weekTextMap.get(
                                        weekNum
                                    ) || {
                                        text: "",
                                        style: "",
                                        tooltip: "",
                                        image: undefined,
                                    };
                                    const {
                                        text,
                                        style,
                                        tooltip = "",
                                        image,
                                    } = weekData;
                                    return (
                                        <div
                                            class={`week ${style}`}
                                            style={`flex: ${text ? "0 1 auto" : "0 0 15px"};`}
                                        >
                                            {text && <span>{text}</span>}
                                            {showTooltips &&
                                                (tooltip || image) && (
                                                    <span class="tooltip">
                                                        {tooltip}
                                                        {image && (
                                                            <img
                                                                src={image}
                                                                alt="Tooltip image"
                                                            />
                                                        )}
                                                    </span>
                                                )}
                                        </div>
                                    );
                                }
                            )}
                        </div>
                    </div>
                );
            })
        ) : (
            <div class="weeks">
                {Array.from({ length: totalWeeks }, (_, i) => {
                    const weekNum = i + 1;
                    const weekData = weekTextMap.get(weekNum) || {
                        text: "",
                        style: "",
                        tooltip: "",
                        image: undefined,
                    };
                    const { text, style, tooltip = "", image } = weekData;
                    return (
                        <div
                            class={`week ${style}`}
                            style={`flex: ${text ? "0 1 auto" : "0 0 15px"};`}
                        >
                            {text && <span>{text}</span>}
                            {showTooltips && (tooltip || image) && (
                                <span class="tooltip">
                                    {tooltip}
                                    {image && (
                                        <img src={image} alt="Tooltip image" />
                                    )}
                                </span>
                            )}
                        </div>
                    );
                })}
            </div>
        )
    }
</div>

<style>
    .weeks-container {
        display: flex;
        flex-direction: column;
        gap: 0rem;
        padding: 1rem;
    }
    .weeks {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .week {
        height: 32px;
        border: 1px solid var(--gray);
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        position: relative;
        overflow: visible;
    }

    .week span {
        padding: 0 15px;
    }

    .section h3 {
        margin-bottom: 1rem;
        font-size: var(--text-l);
        font-weight: 600;
    }

    .week .tooltip {
        visibility: hidden;
        opacity: 0;
        background: var(--bg);
        color: var(--text);
        text-align: center;
        border: 1px solid var(--border);
        border-radius: 4px;
        padding: 8px 16px;
        position: absolute;
        z-index: 1;
        bottom: 115%;
        left: 50%;
        transform: translateX(-50%);
        transition: opacity 0.2s;
        font-size: 0.75rem;
        pointer-events: none;
        white-space: pre-line;
        width: 300px;
        min-width: 80px;
        max-width: 300px;
    }

    .week .tooltip img {
        display: block;
        max-width: 120px;
        height: auto;
        margin: 8px auto 0 auto;
        border-radius: 4px;
    }

    .week:hover .tooltip,
    .week:focus-within .tooltip {
        visibility: visible;
        opacity: 1;
    }

    body,
    .weeks-container {
        background: var(--bg);
        color: var(--text);
    }

    .week {
        border: 1px solid var(--border);
    }
</style>
